h3 {
    font-family: Trebuchet MS;
    font-size: 24px;
    font-weight: 600;
    color: #450396;
    text-align: center;
    margin: 0;
}

h4 {
    font-family: Arial Narrow;
    font-size: 18px;
    font-weight: 700;
    color: #000; 
    margin: 0;
}

.c-card-suit {
    text-align: center;
}

.pic-side {
    width: 100%;
    display: flex;
    align-items: center;
    background: #e3dfe7;
    padding: 5px 0 20px 0; 
    margin: 10px 20px 10px 20px;
    box-shadow: 0 3px 5px 0 #450396;
}

.pic-side img {
    width: 25%;
    height: auto;
    box-shadow: 2px 3px 4px 2px #8f8f8f;
}

div .c-text-side {
    margin: 10px 20px 10px 20px;
    border: 2px solid #450396;
    background: #fbfbfb;
}

p {
    font-family: Arial Narrow;
    font-size: 13px;
    text-align: center;
    padding: 5px 20px 5px 20px;
    margin: 0 auto;
}

p.c-copyright {
    font-size: 8px;
    font-weight: 900;
    color: #450396;
}

.card-container-2 {
    display: flex;
    flex-direction: column;
    background: #e3dfe7;
    margin: 10px 20px 10px 20px;
    padding-bottom: 20px;
    box-shadow: 0 3px 5px 0 #450396;
}

.associated-cards {
    display: flex;
    flex-direction: row;
}

.alt-cards-h2 {
    font-family: Trebuchet MS;
    font-size: 24px;
    font-weight: 600;
    color: #450396;
    display: inline;
    text-align: center;
    padding: none;
}

.associated-cards div {
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3dfe7;
    border: 2px solid #450396;
    margin: 10px 20px 10px 20px;
    padding: 10px 0 30px 0; 
}

.associated-cards div img {
    width: 50%;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 6px 7px 4px #8f8f8f;
}

.associated-cards div h3 {
    font-family: Arial Narrow;
    font-size: 1em;
    font-weight: 600;
    color: #000;
    padding: 20px;
    text-align: center;
}

.associated-cards div a {
    background: white;
    font-family: arial;
    color: #000;
    font-size: 9px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #450396;
    padding: 3px;
    margin: 0; 
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    border-radius: 20px;
    box-shadow: 2px 3px 4px 2px #8f8f8f;
}
